.menu {
    display: flex;
    margin-bottom: 2em;
    &__item {
        margin-right: 0.5em;
        a {
            padding: 0.5em;
            text-decoration: none;
            color: black;
            &:hover {
                color: rgb(103, 205, 103);
            }
        }
    }
}
